<% if cards.present? %>
  <%= render(DisplayCardComponent.new(width: :xl)) do %>
    <div class="card-header fw-bold"><%= title %></div>
    <div class="d-flex flex-sm-row flex-column flex-wrap">
      <% cards.each do |cube_card| %>
        <%= render(MagicCardComponent.new(cube_card: cube_card, context: context)) %>
      <% end %>
    </div>
  <% end %>
<% end %>