<div class="container">
  <div class="row justify-content-center">
    <%= tag.div class: classes do %>
      <div class="card bg-light text-center">
        <%= content %>
      </div>
    <% end %>
  </div>
</div>