<div>
  <% if @active_drafts.present? %>
    <h2 class="card-title">Your Drafts</h2>
    <section>
      <ul class="list-unstyled text-center">
        <% @active_drafts.each do |active_draft| %>
          <li>
            <%= render(ButtonComponent.new(url: draft_path(active_draft), variation: :link)) { active_draft.name } %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <% if @pending_drafts.present? %>
    <section>
      <h4 class="card-subtitle mt-2">Drafts You Can Join</h4>
      <ul class="list-unstyled text-center">
        <% @pending_drafts.each do |pending_draft| %>
          <li>
            <%= render(ButtonComponent.new(url: draft_path(pending_draft), variation: :link)) { pending_draft.name } %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <% if @spectator_drafts.present? %>
    <h4 class="card-title">Drafts You Can Spectate</h4>
    <section>
      <ul class="list-unstyled text-center">
        <% @spectator_drafts.each do |spectator_draft| %>
          <li>
            <%= render(ButtonComponent.new(url: draft_path(spectator_draft), variation: :link)) { spectator_draft.name } %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
</div>
