<div>
  <% if @active_drafts.present? %>
    <h2 class="card-title">Your Drafts</h2>
    <section>
      <ul class="list-unstyled text-center">
        <% @active_drafts.each do |active_draft| %>
          <li>
            <%= render(ButtonComponent.new(url: draft_path(active_draft), variation: :link)) { active_draft.name } %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <% if @pending_drafts.present? %>
    <section>
      <h4 class="card-subtitle">Drafts You Can Join</h4>
      <ul class="list-unstyled text-center">
        <% @pending_drafts.each do |pending_draft| %>
          <li>
            <%= render(ButtonComponent.new(url: new_draft_participant_path(draft_id: pending_draft.id), variation: :link, data: { turbo_frame: "modal" })) { pending_draft.name } %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
</div>
