<div>
  <% if @active_drafts.present? %>
    <section>
      <ul class="list-unstyled text-center">
        <% @active_drafts.each do |active_draft| %>
          <li>
            <%= render(ButtonComponent.new(url: draft_path(active_draft), variation: :link)) { active_draft.name } %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <section>
    <h3 class="page__subheading">Drafts You Can Join</h3>
    <ul class="list-unstyled text-center">
      <% @pending_drafts.each do |pending_draft| %>
        <li>
          <%= render(ButtonComponent.new(url: new_draft_participant_path(draft_id: pending_draft.id), variation: :link, data: { turbo_frame: "modal" })) { pending_draft.name } %>
        </li>
      <% end %>
    </ul>
  </section>
</div>
