<div data-controller="file-input" data-file-input-target="container">
  <%= form.file_field name, required: true, placeholder: "Choose a file", help: help, accept: file_format, data: {file_input_target: "input", action: "file-input#display"} %>
</div>
