<% if show_link? %>
  <%= link_to link_url, class: "col-md-2" do %>
    <div class="d-flex">
      <%= image_tag(cube_card.image_url, class: "flex-fill #{css_class}") %>
    </div>
  <% end %>
<% else %>
  <div class="d-flex col-md-2">
    <%= image_tag(cube_card.image_url, class: "flex-fill #{css_class}") %>
  </div>
<% end %>