<%= render(DisplayCardComponent.new(width: :lg)) do %>
  <div class="card-header">PARTICIPANTS</div>
  <ul class="list-unstyled text-center">
    <% @draft.draft_participants.each do |dp| %>
      <li>
        <%= dp.display_name %>
      </li>
    <% end %>
  </ul>
<% end %>
