<%= render(DisplayCardComponent.new(width: :xl, classes: "mb-2")) do %>
	<div class="card-header">Pending Transfers</div>
	<div>
		<% @accepted_transfers.each do |accepted_transfer| %>
			<% accepted_transfer.receiving_participants.each do |receiving_participant| %>
				<%# TODO: display each participants receiving picks %>
			<% end %>
		<% end %>
	</div>
<% end %>

<%= render(DisplayCardComponent.new(width: :xl, classes: "mb-2")) do %>
	<div class="card-header">Completed Transfers</div>
	<div>
		<% @completed_transfers.each do |completed_transfer| %>
		<% end %>
	</div>
<% end %>

<%= render(DisplayCardComponent.new(width: :xl, classes: "mb-2")) do %>
	<div class="card-header">Canceled Transfers</div>
	<div>
		<% @canceled_transfers.each do |canceled_transfer| %>
		<% end %>
	</div>
<% end %>