<div class="d-flex justify-content-center">
  <%= button_to("Back", draft_path(@draft_participant.draft), method: :get, class: "btn btn-warning mx-2") %>
  <div data-controller="clipboard" data-clipboard-cardpool-value='<%= @draft_participant.cardpool.join("\n") %>'>
    <button class="btn btn-light mx-2" data-action="click->clipboard#copy" data-clipboard-target="button">Copy</button>
  </div>
</div>
<div class="pt-2">
  <%= render(DraftParticipantCardPoolComponent.new(draft_participant: @draft_participant)) %>
</div>
