Your ass just got HAAAAACKED!

<%= @participant_pick.draft_participant.display_name %> picked <%= @participant_pick.name %>.

Your pick queue has been disabled for your own well-being. You can update your pick queue <a href=<%= draft_url(@participant_pick.draft) %>>here</a>.