# Name of your application. Used to uniquely configure containers.
service: mtg-draft-app

# Name of the container image.
image: jeffamacdonald/mtg-draft-app

# Builder configuration
builder:
  arch: amd64

# Deploy to these servers.
servers:
  web:
    hosts:
      - 165.232.128.212
    options:
      network: "private"

  sidekiq:
    hosts:
      - 165.232.128.212
    cmd: bundle exec sidekiq
    options:
      network: "private"

# Credentials for your image host.
registry:
  # Specify the registry server, if you're not using Docker Hub
  # server: registry.digitalocean.com / ghcr.io / ...
  username: 
    - DOCKERHUB_USERNAME
  password:
    - DOCKERHUB_PASSWORD

# Inject ENV variables into containers (secrets come from .env).
# Remember to run `kamal env push` after making changes!
env:
  clear:
    RAILS_ENV: production
    RACK_ENV: production
    RAILS_LOG_TO_STDOUT: true
    RAILS_SERVE_STATIC_FILES: true
  secret:
    - RAILS_MASTER_KEY
    - DB_HOST
    - REDIS_URL
    - POSTGRES_PASSWORD
    - REGISTRATION_SECRET
    - ZOHO_ACCOUNT_ID
    - ZOHO_CLIENT_ID
    - ZOHO_SECRET

# Use a different ssh user than root
ssh:
  user: root

# Use accessory services (secrets come from .env).
accessories:
  db:
    image: postgres:12.2-alpine
    host: 165.232.128.212
    port: 5432
    env:
      clear:
        POSTGRES_USER: mtg_draft_app
        POSTGRES_DB: mtg_draft_app_production
      secret:
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql/data
    options:
      network: "private"

  redis:
    image: redis:7-alpine
    host: 165.232.128.212
    port: 6379
    directories:
      - data:/data
    cmd: "redis-server /usr/local/etc/redis/redis.conf"
    options:
      network: "private"

# Configure proxy for SSL and domain handling
# Configure proxy for SSL and domain handling
proxy:
  ssl: true
  host: nevernoid.xyz
  healthcheck:
    path: /up
    interval: 10
    timeout: 60

# Bridge fingerprinted assets, like JS and CSS, between versions to avoid
# hitting 404 on in-flight requests. Combines all files from new and old
# version inside the asset_path.
#
# If your app is using the Sprockets gem, ensure it sets `config.assets.manifest`.
# See https://github.com/basecamp/kamal/issues/626 for details
#
# asset_path: /rails/public/assets

# Configure rolling deploys by setting a wait time between batches of restarts.
# boot:
#   limit: 10 # Can also specify as a percentage of total hosts, such as "25%"
#   wait: 2

# Configure the role used to determine the primary_host. This host takes
# deploy locks, runs health checks during the deploy, and follow logs, etc.
#
# Caution: there's no support for role renaming yet, so be careful to cleanup
#          the previous role on the deployed hosts.
# primary_role: web

# Controls if we abort when see a role with no hosts. Disabling this may be
# useful for more complex deploy configurations.
#
# allow_empty_roles: false
