.cube_card__img {
  max-width: 100%;
  border-radius: 9px;
}

.cube_card__img:hover {
  transition-duration: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cube_card__img__picked {
  max-width: 100%;
  border-radius: 9px;
  opacity: 0.33;
}

.cube_card__img__static {
  max-width: 50%;
  border-radius: 9px;
}

.chat_box {
  height: 200px;
}

@media screen and (min-width:576px) {
  .chat_box {
    height: 500px;
  }
}