.queue-card-img {
  width: 150px;
  height: auto;
  border-radius: 9px;
}

@media (max-width: 768px) {
  .queue-card-img {
    width: 100px; 
  }
}

.cube_card__img {
  max-width: 100%;
  border-radius: 9px;
}

.cube_card__img:hover {
  transition-duration: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cube_card__img__picked {
  max-width: 100%;
  border-radius: 9px;
  opacity: 0.33;
}

.cube_card__img__static {
  max-width: 50%;
  border-radius: 9px;
}

.chat_box {
  height: 200px;
}

@media screen and (min-width:576px) {
  .chat_box {
    height: 400px;
  }
}

.seperator{
     overflow: hidden;
     text-align: center;
 }
.seperator > span{
    position: relative;
    display: inline-block;
}
.seperator > span:before, .seperator > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 100vw;
    margin: 0 8px;
}
.seperator > span:before{
    right: 100%;
}
.seperator > span:after{
    left: 100%;
}

.small-table, 
.small-table tbody, .small-table tr , .small-table td, .small-table th  {
    padding: 0.2rem;
}

.small-text {
  font-size: 0.6rem;
}

.med-text {
  font-size: 0.8rem;
}

.pick-list-header {
  min-width: 70px;
}

.draggable-item {
  cursor: grab;
  margin-bottom: 8px;
}

.draggable-item:active {
  cursor: grabbing;
}