@font-face {
  font-family: "Magic";
  src: url("Magic.ttf");
}

.page__title {
  font-family: "Magic";
}

.page__scroll {
  background-image: image-url("scroll-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
