<%= render(DisplayCardComponent.new(width: :lg)) do %>
  <div class="card-header">CUBES</div>
  <%= render(CubeListComponent.new(cubes: @user_cubes)) %>
  <div class="text-center">
    <%= render(ButtonComponent.new(url: new_cube_path(), variation: :primary, classes: "mb-2 mt-2")) { "Create Cube" } %>
  </div>
<% end %>
