<%= render(DisplayCardComponent.new(width: :sm, classes: "mb-2")) do %>
  <p class="h1"><%= @cube.name %></p>
<% end %>
<div class="container">
  <%= render(CubeCardListComponent.new(cube: @cube)) %>
</div>
