<h1><%= @draft.name %></h1>
<%= render(ParticipantsListComponent.new(draft: @draft)) %>
<div class="text-center">
  <%= render(ButtonComponent.new(url: edit_draft_path(@draft), variation: :primary)) {"Edit Draft"} %>
</div>
