<%= render(DisplayCardComponent.new(width: :lg)) do %>
  <div class="card-header">DRAFTS</div>
  <%= render(DraftListComponent.new(user: current_user)) %>
  <div class="text-center">
    <%= render(ButtonComponent.new(url: new_draft_path, variation: :primary, classes: "mb-2 mt-2")) { "New Draft" } %>
  </div>
<% end %>