<% if @draft.status == DraftStatus.pending %>
  <%= render "pending" %>
<% else %>
  <%= render(DisplayCardComponent.new(width: :sm, classes: "mb-2")) do %>
    <p class="h1"><%= @draft.name %></p>
  <% end %>
  <%= render(PickListComponent.new(@draft)) %>
<% end %>
