The following trade has been proposed:

<% @transfer_portal_transaction.transfer_portal_transaction_offerings.map(&:receiver).uniq.each do |draft_participant| %>
	<div class="mb-2">
		<%= draft_participant.display_name %> is receiving:
		<% @transfer_portal_transaction.transfer_portal_transaction_offerings.where(receiver: draft_participant).each do |transfer_portal_transaction_offering| %>
			<%= transfer_portal_transaction_offering.participant_pick.display_name %>
		<% end %>
	</div>
<% end %>

You can accept or reject the offer <a href="<%= draft_transfer_portal_transactions_url(@draft) %>">here</a>.

An accepted offer will go through after two business days.