<div id="flash" class="sticky z-50 px-16 rounded-lg top-2" >
  <% flash.each do |key, message| %>
    <div class="alert <%= key == "error" ? "alert-danger" : "alert-success" %>">
      <strong><%= key.upcase %>:</strong> <%= message %>
    </div>
  <% end %>
</div>
